venv/
DB/
build/
dist/
docs/
src/__pycache__/__init__.cpython-310.pyc
src/Doc/__pycache__/__init__.cpython-310.pyc
src/Doc/__pycache__/create_Doc.cpython-310.pyc
src/gui/__pycache__/
*.dll
*.pyc
src/gui/build/
src/gui/dist/
# PyInstaller build artifacts
*.spec
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.dll
*.dylib
*.exe
*.app
*.msi
*.deb
*.rpm
*.pkg
*.tar.gz
*.zip
control_panel.spec
